.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Angular Material toolbar uses flexbox */
.spacer {
  flex: 1 1 auto;
}

.mat-toolbar button{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}



